VITE_SENTRY_DSN=
VITE_CONTACT_FORM_ENDPOINT=/contact.php
VITE_GA_MEASUREMENT_ID=G-G3K9EHFW8M
VITE_GA_STREAM_ID=10587973272
GA4_PROPERTY_ID=properties/486283265
GA4_ACCOUNT_ID=accounts/352738307
GSC_SITE_URL=sc-domain:mobiwave.co.ke
COMPOSIO_API_KEY=
COMPOSIO_USER_ID=
COMPOSIO_GA4_CONNECTED_ACCOUNT_ID=
COMPOSIO_GSC_CONNECTED_ACCOUNT_ID=
